[submodule "web/shtlay"]
	path = web/shtlay
	url = https://github.com/shtsoft/shtlay
[submodule "web/mtrack"]
	path = web/mtrack
	url = https://github.com/shtsoft/mtrack
[submodule "parallelism/poolio"]
	path = parallelism/poolio
	url = https://github.com/shtsoft/poolio
[submodule "languages/rspl"]
	path = languages/rspl
	url = https://github.com/shtsoft/rspl
